@media screen and (min-width: 768px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.groupCard {
  background: var(--clr-grey-10);
  box-shadow: var(--light-shadow);
  margin-bottom: 3rem;
  max-width: 20rem;
  min-height: 25rem; /*not max */
}
.groupCard:hover {
  transition: var(--transition);
  box-shadow: var(--dark-shadow);
  transform: scale(1.02);
}
@media screen and (min-width: 768px) {
  .groupCard {
    flex: 0 0 calc(50%-6rem);
    min-width: 15rem;
  }
}
@media screen and (min-width: 1170px) {
  .groupCard {
    flex: 0 0 calc(33.333% - 2rem);
  }
}
