.submit {
  background: var(--clr-primary-5);
  padding-bottom: 3rem;
}

.submitTitle {
  color: var(--clr-white);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.form {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: space-between;
}

.formControl,
.btnsubmit,
.moreInfo {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 300;
  letter-spacing: var(--spacing);
  background: var(--clr-white);
  text-transform: capitalize;
  border: transparent;
  margin-bottom: 2rem;
  min-width: 25rem; /**/
  margin-left: auto;
  margin-right: auto;
}
.formControl::placeholder {
  color: inherit;
}
.moreInfo::placeholder {
  color: inherit;
  font: inherit;
}
.btnsubmit {
  font-family: var(--ff-primary);
  margin-left: 0.5rem;
  background: var(--clr-primary-8);
  color: var(--clr-primary-1);
  cursor: pointer;
  transition: var(--transition);
  margin-left: auto;
  margin-right: auto;
}
.btnsubmit:hover {
  background: var(--clr-primary-1);
  color: var(--clr-primary-5);
}
@media screen and (max-width: 500px) {
  .btnsubmit,
  .formControl,
  .moreInfo {
    min-width: 10rem;
  }
  .btnsubmit {
    min-width: 14rem;
  }
  .moreInfo {
    min-width: 14rem;
  }
}
